Repository cardozov/autocomplete-assesment: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --list-different, stylelint --fix

.lintstagedrc:

"*.{js,jsx,ts,tsx}":
  - eslint --fix
  - prettier --write
"*.md": prettier --list-different
"*.{css,scss,sass}": stylelint --fix

chore: :wrench: mitigate system and versioning side effects
  .editorconfig
  .gitattributes
  .prettierignore
  .stylelintignore
  package-lock.json
  yarn.lock
Due: none

style: :lipstick: styling sanitization
  src/index.css
Due: stylelint --fix

ci: :building_construction: set up docker
  .dockerignore
  .gitignore
  .nvmrc
  Dockerfile
  Dockerfile.local
  docker-compose.local.yaml
  docker-compose.yaml
  makefile
  vite.config.ts
Due: eslint --fix, prettier --write

build: :zap: provision simple load balancer
  docker-compose.yaml
  makefile
  nginx.conf
Due: none

test: :hammer: set up automated tests
  .gitignore
  .husky/pre-commit
  package.json
  tests/init.test.tsx
  tests/vitest.setup.ts
  tsconfig.json
  vite.config.ts
  yarn.lock
Due: eslint --fix, prettier --write

test: :art: instrumentate test pyramid
  .husky/pre-commit
  .husky/pre-push
  package.json
  src/components/another.test.tsx
  src/components/init.test.tsx
  tests/customResources.ts
  tests/init.test.tsx
  tsconfig.json
  vite.config.ts
  yarn.lock
Due: eslint --fix, prettier --write

feat: :sparkles: create basic autocomplete imput
  src/components/AutoComplete/AutoComplete.test.tsx
  src/components/AutoComplete/index.tsx
  src/components/another.test.tsx
  src/components/init.test.tsx
Due: eslint --fix, prettier --write

feat: :sparkles: add Dropdown component
  package.json
  src/components/AutoComplete/AutoComplete.test.tsx
  src/components/AutoComplete/index.tsx
  src/components/Dropdown/Dropdown.test.tsx
  src/components/Dropdown/index.tsx
Due: eslint --fix, prettier --write

feat: :sparkles: add Input component
  src/components/theme/Input.ts
Due: eslint --fix, prettier --write

refactor: :lipstick: style autocomplete input
  src/components/AutoComplete/index.tsx
  src/components/Dropdown/index.tsx
Due: eslint --fix, prettier --write

feat: :sparkles: add Highlighter component
  src/components/AutoComplete/AutoComplete.test.tsx
  src/components/AutoComplete/index.tsx
  src/components/TextWithSliceHighlight/TextWithSliceHighlight.test.tsx
  src/components/TextWithSliceHighlight/index.tsx
Due: eslint --fix, prettier --write

feat: :sparkles: showcase AutoComplete at Home
  src/App.tsx
  src/components/theme/Container.ts
  src/components/theme/Title.ts
Due: eslint --fix, prettier --write

feat(autocomplete): :zap: debounce autocomplete data fetcher
  src/components/AutoComplete/AutoComplete.test.tsx
  src/components/AutoComplete/index.tsx
Due: eslint --fix, prettier --write

feat(autocomplete): :sparkles: introduce autocomplete placeholder
  src/components/AutoComplete/AutoComplete.test.tsx
  src/components/AutoComplete/index.tsx
Due: eslint --fix, prettier --write

feat(homepage): :sparkles: integrate with movies api
  src/App.tsx
  src/Showcase.tsx
  src/main.tsx
Due: eslint --fix, prettier --write

feat(autocomplete): :sparkles: add keyboard navigation and item active state
  .eslintrc
  src/components/AutoComplete/AutoComplete.test.tsx
  src/components/AutoComplete/index.tsx
  src/components/Dropdown/Dropdown.test.tsx
  src/components/Dropdown/index.tsx
Due: eslint --fix, prettier --write

feat(homepage): :sparkles: create movie details component
  src/components/SelectedMedia/index.tsx
  src/types.ts
Due: eslint --fix, prettier --write

feat(homepage): :sparkles: use details component on homepage
  src/Showcase.tsx
  src/components/AutoComplete/index.tsx
Due: eslint --fix, prettier --write

docs: :memo: add main doc
  README.md
Due: prettier --list-different

docs: answer questions from email
  questions.md
Due: prettier --list-different

build(autocomplete): :green_heart: fix ts error
  src/components/AutoComplete/index.tsx
Due: eslint --fix, prettier --write
